{% extends "guest/base.html" %}
{% block content %}
  <div class="container">
      {%for post in page_object.object_list %}
      <div class="row">
        <div class="col-12">
          <a class="article-link" href="{{post.id}}"> <h3>{{post.title}}</h3></a>
          <p class="post-date">Опубликовано {{post.date|date:"d/m/Y"}} |
            {% if post.comment_set.count > 0 %}
                <a href="{{post.id}}#comlink">{{post.comment_set.count}} Comments</a>
            {% endif %}
          </p>
          {%if post.mainImage %}
          <a href="{{post.id}}"><img class="post-img" src="{{post.mainImage.url}}" ></a>
          {% endif %}
          <p class="post-descr">{{post.description}}</p>
          <a href="{{post.id}}">Читать далее >>></a>
          <hr>
        </div>
      </div>
      {% endfor %}
  </div>
  {% if is_paginated %}
  <div class="container">
      <div class="row justify-content-center">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item {% if not previous_url %} disabled {% endif %}">
                <a class="page-link" href="{{previous_url}}">Previous</a>
              </li>

              {% for n in page_object.paginator.page_range %}
                  {% if page_object.number == n %}
                  <li class="page-item active">
                    <span class="page-link" href="?page={{n}}"> {{n}}<span class="sr-only">(current)</span>
                    </span>
                  </li>
                  {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{n}}">{{n}}</a>
                  </li>
                  {% endif %}
              {% endfor %}

              <li class="page-item {% if not next_url %} disabled {% endif %}">
                <a class="page-link" href="{{next_url}}">Next</a>
              </li>
            </ul>
          </nav>
      </div>
  </div>
  <hr>
  {% endif %}

{% endblock content %}
