html {
    position: relative;
    min-height: 100%;
}

body {
    background: url("/static/my_time/img/background.jpg");
    background-size: 100% auto;
    padding-top: 4.5rem;
    margin-bottom: 4.5rem;

}

.nav-link:hover {
  transition: all 0.4s;
}

.nav-link-collapse:after {
  float: right;
  content: '\f067';
  font-family: 'FontAwesome';
}

.nav-link-show:after {
  float: right;
  content: '\f068';
  font-family: 'FontAwesome';
}

.navbar-light {
  background-color: #ee4946;
  border-color: #acacac;
}

.sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: calc(100vh);
    margin-top: 3.19rem;
    background: #ffffff;
    box-sizing: border-box;

}

.navbar-expand-lg .sidenav {
    flex-direction: column;
}

.content-wrapper {
    margin-left: 270px;
}

.settings-link {
    color: #ffffff;
    text-decoration: none;

}

.settings-link:hover {
    color: #ffffff;
    text-decoration: none;

}

.user-avatar {
    max-width:35px;
    max-height:auto;
    border-radius: 100px;
    box-shadow: 0 0 7px #666;
}

.icon {
    max-width:30px;
    max-height:auto;
    margin-right: 0.4rem;
}

.newtask-input {
    margin-left: 0.3rem;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-input {
    padding: 5px 5px 5px 40px;
    height: 20px;
    background: url("/static/my_time/img/search-icon.png") no-repeat 3px 1px;
    background-size: auto 90%;
    background-color: #ffffff;
}

.line {
    color: #ffffff;
    font-size: large;
    margin-left: 10.4rem
}

.settings-menu {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: small;
    margin-top: 0.5rem;
}

.task-input{
    margin-left: auto;
    margin-right: auto;
}

.tasks-list {
    margin-top: 1rem;
}

.item-alignment {
    margin-left: 0.7rem;
    margin-top: 0.2rem;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 0.2s;
}


@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-duration: 0.2s;
}


.checklabel {
    outline: none;
}







