body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #ee4946;
}

.site-header .navbar-nav .nav-link {
    color: #ececec;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

a.article-link:hover {
    text-decoration: none;
    color: #ee4946;
}

.post-img {
    padding:20px 0;
    max-width:70%;
    max-height:auto;
}

.user-avatar {
    max-width:50px;
    max-height:auto;
}

.post-date {
    color: #ccced2;
    font-weight:50;
}

.post-descr {
    color: #444444;
    font-size:13pt;
}

.comment-appearance {
    margin-top:5%;
}

.image_left img {
    float:left;
    max-width: 100%;
    max-height: 360px;
}

.image_right img {
    float:right;
    max-width: 100%;
    max-height: 360px;
}

.block_text_left
{
    float:left;
    width: calc(50% - 50px);
    display: inline-block;
}

.block_text_right
{
    float:right;
    width: calc(50% - 50px);
    display: inline-block;
}
.block
{
    margin-top:35px;
    margin-bottom:70px;
    display: inline-block;
}

.heading
{
    margin-bottom:20px;
    color:#ee4946;
    font-size:40px;
    line-height: 48px;
}

.content
{
    font-size:24px;
    line-height: 36px;
    margin-bottom:50px;
    display: inline-block;
}

.button
{
    font-size:20px;
    border-radius: 3px;
    padding: 12px 60px;
    box-shadow: none;
    background: #ee4946;
    color: #fff;
    letter-spacing: 1.5px;
}

.button:hover
{
text-decoration: none;
color:#fff;
}

.link{
color: #ec1c24;
width: auto;
height: auto;
font-size: 25px;
}

.link:hover{
text-decoration: none;
color: #b61d1b;
}
