body{
background-image: url("img/back_image.png");
background-size: 30px 30px;
}

.login:hover{
text-decoration: none;
color:#ad0007;
}

.login {
color: #ec1c24;
width: 110px;
height: auto;
margin-top:-10px;
margin-bottom:10px;
font-size: 13px;
float:right;
}

.create-account:hover{
text-decoration: none;
color:#ad0007;
}

.create-account {
color: #ec1c24;
width: auto;
height: auto;
font-size: 15px;
}

.miminal-body{
 width: 275px;
 height: 400px;
 margin: auto;
}

.login_form{
    padding: 15px 70px 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-style: normal;
}

input[type="text"],input[type="password"],input[type="email"]{
    width: 100%;
    height: 45px;
    font-size: 18px;
    border-radius: 10px;
    padding:5px 7px 5px 15px;
    background:#fff;
    border:2px solid #ddd;
}

.field{
    margin-bottom: 10px;
    transition:0.7s;
}

.heading{
    text-align: center;
    width: 275px;
    margin:auto;
}

.logo{
margin:auto;
background-image: url("img/logo.png");
background-size: 150px 145px;
width: 150px;
height:150px;
}

.tagline {
    color: #333333;
    font-size: 14px;
    font-style: normal;
    margin-top: -12px;
    margin-bottom: 20px;
   }

.login-btn{
width: 275px;
height: 45px;
font-size: 20px;
color: #fff;
background-color:#ec1c24;
border-radius: 7px;
margin-bottom: 20px;
font-style: normal;
border:1px solid #ddd;
}

.login-btn:hover{
    background-color:#be0209;
}

.login-input{
width:275px;
height:auto;
margin:auto;
}

.error{
width:275px;
color:#be0209;
margin-top:-15px;
margin-bottom:20px;
}

.error1{
width:275px;
font-size:12px;
color:#be0209;
margin-top:-10px;
margin-bottom:15px;
text-align:justify;
}

.google {
    width: 275px;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding:7px 7px 5px 7px;
    background:#FF0000;
    border:2px solid #ddd;
}

.sign_social {
    background-color: #fff;
    font-size: 2.2rem;
    border-radius: 7px;
    box-shadow: 0px 1px 5px #b3b3b3;
    transition: 0.7s;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom:10px;
}

.sign_social:hover {
    background-color: #f7f7f7;
    text-decoration: none;
}

.url_text {
    color: #000;
    font-size: 18px;
    padding-right: 15px;
}

.social_net{
}

.vk_logo{
background-image: url("img/VK_Logo.svg");
width: 50px;
height:50px;
}

.url_social {
    color: #000;
    font-size: 18px;
}

.insta_logo{
background-image: url("img/insta_logo.png");
width: 40px;
height:40px;
background-size: 40px 40px;
margin-left: 7px;
}

h1 {
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    color: #808080;
    margin-top:1rem;
}
h1:before,
h1:after {
    background-color: #808080;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h1:before {
    right: 0.5em;
    margin-left: -50%;
}
h1:after {
    left: 0.5em;
    margin-right: -50%;
}