{% extends 'main/base.html' %}
{% load static %}
{% block lists %}
        <!-- smart lists -->
        {% for key, list in smart_lists.items %}
        <li class="nav-item" id="inbox-li">
          <a class="nav-link" id="{{ list.slug }}" href="#" onclick="changeList(this)">
            <img class="icon" src="{% static 'my_time/img/' %}{{ list.slug }}.png">
            {{ list.name }}
            {% if list.count_tasks %}
              <div class="float-right">
                  {% if list.count_overdue_tasks %}
                    <span class="badge badge-pill badge-danger" id="overdueBadge{{list.slug}}">{{ list.count_overdue_tasks }}</span>
                  {% endif %}
                  <span class="badge badge-pill badge-light" id="allBadge{{list.slug}}">{{ list.count_tasks }}</span>
              </div>
            {% else %}
              <div class="float-right">
                  <span class="badge badge-pill badge-danger" id="overdueBadge{{list.slug}}"></span>
                  <span class="badge badge-pill badge-light" id="allBadge{{list.slug}}"></span>
              </div>
            {% endif %}
          </a>
        </li>
        {% endfor %}

        <script>
            let a = document.getElementById('inbox');
            a.className += ' active list-group-item-primary';
        </script>

        <!-- user lists -->
        <div class="dropdown-divider" id="user-lists-beginning"></div>
        {% for list in personal_lists %}
            <li class="nav-item">
              <a class="nav-link" href="#" id="{{ list.id }}" onclick="changeList(this)">
                  <img class="icon" src="{% static 'my_time/img/' %}personal-list.png">{{ list.title }}
                  {% if list.count_tasks %}
                  <div class="float-right">
                      {% if list.count_overdue_tasks %}
                      <span class="badge badge-pill badge-danger" id="overdueBadge{{list.id}}">{{ list.count_overdue_tasks }}</span>
                      {% endif %}
                      <span class="badge badge-pill badge-light" id="allBadge{{list.id}}">{{ list.count_tasks }}</span>
                  </div>
                  {% else %}
                  <div class="float-right">
                      <span class="badge badge-pill badge-danger" id="overdueBadge{{list.id}}"></span>
                      <span class="badge badge-pill badge-light" id="allBadge{{list.id}}"></span>
                  </div>
            {% endif %}
              </a>
            </li>
        {% endfor%}

{% endblock lists %}
{% block search-line %}
    <!-- search line -->
    <form class="form-inline ml-auto mt-2 mt-md-0" action="" method="GET">
      <input class="form-control mr-sm-2 search-input" type="text" aria-label="Search" style="height:30px" name="q" id="searchbar" placeholder="Найти в списке...">
    </form>
{% endblock search-line %}


{% block tasks %}
    <!-- content -->
    <main class="content-wrapper">
      <div class="container-fluid">

        <!--task input-->
        <form method="POST" action="" id="taskInsertionForm">
          {% csrf_token %}
          <div class="form-row task-input">
            <div class="col">
              <div class="input-group newtask-input" id="task-group-container">
                  <div class="input-group-prepend">
                    <button class="input-group-text button-star" id="newTaskButton"><img class="icon-star" src="{% static 'my_time/img/' %}add.png"></button>
                  </div>
                  <input style="margin-left: -0.5rem" type="text" class="form-control new-task-btn" id="newTaskInput" placeholder="Добавить задачу..." >
                  <div class="input-group-append">
                     <button class="input-group-text button-star"><img class="icon-star" src="{% static 'my_time/img/' %}calendar.png"></button>
                  </div>
                  <div class="input-group-append" id="starredcheckbox-container"  style="margin-left: -0.5rem">
                      <button class="input-group-text button-star" id="taskImp"><img class="icon-star" src="{% static 'my_time/img/' %}notstarred.png"><input id="starredcheck" style="visibility: hidden" src="{% static 'my_time/img/' %}notstarred.png" type="checkbox"></button>
                  </div>
              </div>
            </div>
          </div>
        </form>

        <!--tasks-->
          <ul class="list-group tasks-list" id="listRoot">
            {% for task in smart_lists.inbox.tasks reversed %}
              <li  class="list-group-item item-alignment" id="{{ task.id }}"> {% csrf_token %}
                  <div class="custom-control custom-checkbox float-left task-inner-alignment">
                    <input type="checkbox" class="custom-control-input" id="customCheck{{ task.id }}">
                    <label class="custom-control-label task-title-alignment" for="customCheck{{ task.id }}" onclick="archiveTask(this)">{{ task.title }}</label>
                  </div>
                  <div class="float-right checklabel">
                      <button class="button-star">
                          {% if task.starred %}
                          <img class="icon-star" src="{% static 'my_time/img/' %}starred.png">
                          {% else %}
                          <img class="icon-star" src="{% static 'my_time/img/' %}notstarred.png">
                          {% endif %}
                          <input style="visibility: hidden" src="{% static 'my_time/img/' %}notstarred.png" type="checkbox">
                      </button>
                  </div>
              </li>
            {% endfor %}
          </ul>

      </div>
    </main>

    <!-- add new list modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="newListModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Создать список</h5>
            </div>
            <div class="modal-body">
              <form>
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control" id="new-list-title" placeholder="Название списка...">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">Отмена</button>
              <button type="button" class="btn btn-primary" id="saveNewList" disabled>Сохранить</button>
            </div>
          </div>
        </div>
      </div>

    <script type="text/javascript" src="{% static 'js/csrftoken.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/starredCheckboxSwap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/addNewTaskAjax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/searchAjax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/changeActiveList.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/archiveTask.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/newListModal.js' %}"></script>
{% endblock tasks %}

