{% extends 'main/base.html' %}
{% load static %}
{% block lists %}
        <!-- smart lists -->
        {% for key, list in smart_lists.items %}
        <li class="nav-item" id="inbox-li">
          <a class="nav-link" id="{{ list.slug }}" href="#" onclick="changeList(this)">
            <img class="icon" src="{% static 'my_time/img/' %}{{ list.slug }}.png">
            {{ list.name }}
            {% if list.count_tasks %}
              <div class="float-right">
                  {% if list.count_overdue_tasks %}
                    <span class="badge badge-pill badge-danger" id="overdueBadge{{list.slug}}">{{ list.count_overdue_tasks }}</span>
                  {% endif %}
                  <span class="badge badge-pill badge-light" id="allBadge{{list.slug}}">{{ list.count_tasks }}</span>
              </div>
            {% else %}
              <div class="float-right">
                  <span class="badge badge-pill badge-danger" id="overdueBadge{{list.slug}}"></span>
                  <span class="badge badge-pill badge-light" id="allBadge{{list.slug}}"></span>
              </div>
            {% endif %}
          </a>
        </li>
        {% endfor %}

        <script>
            let a = document.getElementById('inbox');
            a.className += ' active list-group-item-primary';
        </script>

        <!-- user lists -->
        <div class="dropdown-divider"></div>
        {% for list in personal_lists %}
            <li class="nav-item">
              <a class="nav-link" href="#" id="{{ list.id }}" onclick="changeList(this)">
                <img class="icon" src="{% static 'my_time/img/' %}personal-list.png">
                  {{ list.title }}
                  {% if list.count_tasks %}
                  <div class="float-right">
                      {% if list.count_overdue_tasks %}
                      <span class="badge badge-pill badge-danger" id="overdueBadge{{list.id}}">{{ list.count_overdue_tasks }}</span>
                      {% endif %}
                      <span class="badge badge-pill badge-light" id="allBadge{{list.id}}">{{ list.count_tasks }}</span>
                  </div>
                  {% else %}
                  <div class="float-right">
                      <span class="badge badge-pill badge-danger" id="overdueBadge{{list.id}}"></span>
                      <span class="badge badge-pill badge-light" id="allBadge{{list.id}}"></span>
                  </div>
            {% endif %}
              </a>
            </li>
        {% endfor%}

{% endblock lists %}
{% block search-line %}
    <!-- search line -->
    <form class="form-inline ml-auto mt-2 mt-md-0" action="" method="GET">
      <input class="form-control mr-sm-2 search-input" type="text" aria-label="Search" style="height:30px" name="q" id="searchbar" placeholder="Найти в списке...">
    </form>
{% endblock search-line %}


{% block tasks %}
    <!-- content -->
    <main class="content-wrapper">
      <div class="container-fluid">

        <!--task input-->
        <form method="POST" action="" id="taskInsertionForm">
          {% csrf_token %}
          <div class="form-row task-input">
            <div class="col">
              <div class="input-group newtask-input">
                  <div class="input-group-prepend">
                    <button style="outline: none;" class="input-group-text" id="newTaskButton">+</button>
                  </div>
                  <input type="text" class="form-control" id="newTaskInput" placeholder="Добавить задачу...">
              </div>
            </div>
          </div>
        </form>

        <!--tasks-->
        <div>
          <ul class="list-group tasks-list" id="listRoot">
            {% for task in smart_lists.inbox.tasks reversed %}
              <li  class="list-group-item item-alignment">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck{{ task.id }}">
                    <label class="custom-control-label" for="customCheck{{ task.id }}">{{ task.title }}</label>
                  </div>
            {% endfor %}
          </ul>
        </div>

      </div>
    </main>

    <script type="text/javascript" src="{% static 'js/csrftoken.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/addNewTaskAjax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/searchAjax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/changeActiveList.js' %}"></script>
{% endblock tasks %}

