{% extends 'main/base.html' %}
{% load static %}
{% block lists %}
        <!-- smart lists -->
        {% for list in smart_lists %}
        <li class="nav-item" id="inbox-li">
          <a class="nav-link" id="{{ list.slug }}" href="#">
            <img class="icon" src="{% static 'my_time/img/' %}{{ list.slug }}.png">
            {{ list.name }}
            {% if list.count_tasks %}
              <div class="float-right">
                  {% if list.count_overdue_tasks %}
                    <span class="badge badge-pill badge-danger">{{ list.count_overdue_tasks }}</span>
                  {% endif %}
                  <span class="badge badge-pill badge-light">{{ list.count_tasks }}</span>
              </div>
            {% endif %}
          </a>
        </li>
        {% endfor %}

        <script>
            let li = document.getElementById('inbox-li');
            li.className += ' active list-group-item-primary';
        </script>

        <!-- user lists -->
        <div class="dropdown-divider"></div>
        {% for list in lists %}
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img class="icon" src="{% static 'my_time/img/' %}personal-list.png">
                  {{ list.title }}
                  {% if list.count_tasks %}
                  <div class="float-right">
                      {% if list.count_overdue_tasks %}
                      <span class="badge badge-pill badge-danger">{{ list.count_overdue_tasks }}</span>
                      {% endif %}
                      <span class="badge badge-pill badge-light">{{ list.count_tasks }}</span>
                  </div>
                  {% endif %}
              </a>
            </li>
        {% endfor%}

{% endblock lists %}
{% block search-line %}
    <!-- search line -->
    <form class="form-inline ml-auto mt-2 mt-md-0" action="" method="GET">
      <input class="form-control mr-sm-2 search-input" type="text" aria-label="Search" style="height:30px" name="q" id="searchbar">
    </form>
{% endblock search-line %}


{% block tasks %}
    <!-- content -->
    <main class="content-wrapper">
      <div class="container-fluid">

        <!--task input-->


        <form method="POST" action="">
          {% csrf_token %}
          <div class="form-row task-input">
            <div class="col">
              <div class="input-group newtask-input">
                  <div class="input-group-prepend">
                    <button style="outline: none;" class="input-group-text" id="newTaskButton">+</button>
                  </div>
                  <input type="text" class="form-control" id="newTaskInput" placeholder="Добавить задачу...">
              </div>
            </div>
          </div>
        </form>

        <!--tasks-->
        <div>
          <ul class="list-group tasks-list" id="listRoot">
            {% for task in smart_lists.0.tasks %}
              <li  class="list-group-item item-alignment">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck{{ task.id }}">
                    <label class="custom-control-label" for="customCheck{{ task.id }}">{{ task.title }}</label>
                  </div>
            {% endfor %}
          </ul>
        </div>

      </div>
    </main>

     <script>
         function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).ready(function(){
            var csrftoken = getCookie('csrftoken');

            var newTaskInputElement = $('#newTaskInput');
            var newTaskButtonElement = $('#newTaskButton');

            newTaskButtonElement.on('click', function (e) {
               e.preventDefault();
               newTaskInput.dispatchEvent(new KeyboardEvent('keydown',{'keyCode': 13}))
            });

            newTaskInputElement.on('keydown', function(e) {
                if (e.keyCode === 13) {
                    e.preventDefault();


                    let title = newTaskInputElement.val();
                    let activeList = document.getElementById('lists').querySelector('.active').querySelector('a');

                    let data = {
                        title: title,
                        active_list: activeList.id,
                        csrfmiddlewaretoken: csrftoken,
                    };

                    $.ajax({
                        type: 'POST',
                        url: '{% url "add_task" %}',
                        dataType: 'json',
                        data: data,
                        success: function (data) {
                            if ($.trim(newTaskInputElement.val())) {
                                let input = document.createElement('input');
                                input.className = 'custom-control-input';
                                input.type = 'checkbox';
                                input.id = 'customCheck' + data['id'];

                                let label = document.createElement('label');
                                label.className = 'custom-control-label';
                                label.setAttribute('for', input.id);
                                label.innerHTML = data['title'];

                                let div = document.createElement('div');
                                div.className = 'custom-control custom-checkbox';
                                div.appendChild(input);
                                div.appendChild(label);

                                let newTask = document.createElement('li');
                                newTask.className = 'list-group-item item-alignment fadeInDown';
                                newTask.appendChild(div);

                                listRoot.insertBefore(newTask, listRoot.firstChild);

                                newTaskInputElement.val('');
                                newTaskInputElement.blur();
                            }
                        }
                    })
                }
            });

            var searchBarElement = $('#searchbar');

            searchBarElement.on('keydown', function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();


                    let query = searchBarElement.val();

                    let data = {
                        q: query,
                    };

                    $.ajax({
                        type: 'GET',
                        url: '{% url "search_query" %}',
                        dataType: 'json',
                        data: data,
                        success:function(data){
                            listRoot.innerHTML='';
                            $.each(data, function(index){
                                let input = document.createElement('input');
                                input.className = 'custom-control-input';
                                input.type = 'checkbox';
                                input.id = 'customCheck' + data[index]['id'];

                                let label = document.createElement('label');
                                label.className = 'custom-control-label';
                                label.setAttribute('for', input.id);
                                label.innerHTML = data[index]['title'];

                                let div = document.createElement('div');
                                div.className = 'custom-control custom-checkbox';
                                div.appendChild(input);
                                div.appendChild(label);

                                let newTask = document.createElement('li');
                                newTask.className = 'list-group-item item-alignment fadeInDown';
                                newTask.appendChild(div);

                                listRoot.insertBefore(newTask, listRoot.firstChild)
                            })
                        }
                    })
                }
            });
        });
     </script>
{% endblock tasks %}

