        <form method="POST" action="" id="taskInsertionForm">
          {% csrf_token %}
          <div class="form-row task-input">
            <div class="col">
              <div class="input-group newtask-input" id="task-group-container">
                  <div class="input-group-prepend">
                    <button class="input-group-text button-star" id="newTaskButton"><img class="icon-star" src="{% static 'my_time/img/' %}add.png"></button>
                  </div>
                  <input style="margin-left: -0.5rem" type="text" class="form-control new-task-btn" id="newTaskInput" placeholder="Добавить задачу..." >
                  <div class="input-group-append">
                     <button class="input-group-text button-star"><img class="icon-star" src="{% static 'my_time/img/' %}calendar.png"></button>
                  </div>
                  <div class="input-group-append" id="starredcheckbox-container"  style="margin-left: -0.5rem">
                      <button class="input-group-text button-star" id="taskImp"><img class="icon-star" src="{% static 'my_time/img/' %}notstarred.png"><input id="starredcheck" style="visibility: hidden" src="{% static 'my_time/img/' %}notstarred.png" type="checkbox"></button>
                  </div>
              </div>
            </div>
          </div>
        </form>