{% extends "guest/base.html" %}
{% block content %}
    <div class="container">
    {%for post in posts%}
            <div class="row">
             <div class="col-12">
                 <a class="article-link" href="{{post.id}}"> <h3>{{post.title}}</h3></a>
                 <p class="post-date">Опубликовано {{post.date|date:"d/m/Y"}} | Cordially yours, myTime team</p>
                 {%if post.image %}
                 <a href="{{post.id}}"><img class="post-img" src="{{post.image.url}}" ></a>
                 {% endif %}
                 <p class="post-descr">{{post.description}}</p>
                 <a href="{{post.id}}">Читать далее >>></a>
                 <hr>
             </div>
            </div>
    {% endfor %}
    </div>
{% endblock content %}