.form-appearance {
    background-color: #f4f6f7;
    border-radius: 15px;
    padding: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #5c5c5c;
}