body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #ee4946;
}

.site-header .navbar-nav .nav-link {
    color: #ececec;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

a.article-link:hover {
    text-decoration: none;
    color: #ee4946;
}

.post-img {
    padding:20px 0;
    max-width:70%;
    max-height:50%;
}

.post-date {
    color: #ccced2;
    font-weight:50;
}

.post-descr {
    color: #444444;
    font-size:13pt;
}