{% extends "registration/base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="password_change_form">
  <h2>Сброс пароля</h2>
  {% if validlink %}
  <form action="." method="post">
  </table>
     <p>Пожалуйста, введите новый пароль дважды:</p>
       <table width="100%" cellspacing="0" cellpadding="0">
   <tr>
    <td class="left">
     <p><label for="id_new_password1">Новый пароль:</label> <input type="password" name="new_password1" required id="id_new_password1"> <span class="helptext"></p>
    </td>
    <td class="right">
    <p><label for="id_new_password2">Подтверждение нового пароля:</label> <input type="password" name="new_password2" required id="id_new_password2"></p>
    </td>
   </tr>
  </table>
      <span class="helptext"></span><ul><li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Ваш пароль не может быть одним из широко распространённых паролей.</li><li>Ваш пароль не может состоять только из цифр.</li></ul>
      {% csrf_token %}
    {% if form.errors %}
    <h1>Обратите внимание</h1>
      {% for field in form %}
        {% for error in field.errors %}
        <li>
          {{ error|escape }}
        </li>
        {% endfor %}
      {% endfor %}
    {% endif %}
      <p style="text-align:center; margin-top:10px; "><input style="margin-bottom: 0px;" type="submit" value="Изменить пароль" class="login-btn" /></p>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has  
    already been used. Please request a new password reset.</p>
  {% endif %}
</div>
{% endblock %}