{% extends "registration/base.html" %}

{% block title %}Спрос пароля{% endblock %}
{% block content %}
<div class="password_change_form" >
  <h2>Забыли пароль?</h2>
  <div class="row">
    <div class="split">
      <div class="instruction">
        <p>Пожалуйста, укажите адрес электронной почты, который вы использовали при создании аккаунта в myTime.</p>
        <p>Мы отправим вам по электронной почте письмо с дальнейшими инструкциями по смене пароля.</p>
      </p>
      </div>
    </div>
    <div class="split">
      <form action="." method="post">
      <label for="id_email" class="col-form-label  requiredField">
                Адрес электронной почты
      </label>
      <div class="minimal-body">
        <input type="email" name="email" maxlength="254" class="emailinput form-control" required id="id_email">
        <p class="space">
          <input type="submit" value="Отправить" class="login-btn">
        </p>
      </div>
        {% csrf_token %}
      </form>
    </div>
  </div>
</div>
{% endblock %}