{% extends "registration/base.html" %}

{% block title %}Change you password{% endblock %}

{% block content %}
<div class="password_change_form">
  <h2>Cмена пароля</h2>
  <p>Воспольуйтесь формой ниже для того, что изменить Ваш пароль.</p>
  <form action="." method="post">
    <table width="100%" cellspacing="0" cellpadding="0">
   <tr>
    <td class="left">
    <p><label for="id_old_password">Старый пароль:</label> <input type="password" name="old_password" autofocus required id="id_old_password"></p>
    </td>
    <td valign="top">
    </td>
   </tr>
  </table>
    <span class="helptext"></span><ul><li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Ваш пароль не может быть одним из широко распространённых паролей.</li><li>Ваш пароль не может состоять только из цифр.</li></ul>
       <table width="100%" cellspacing="0" cellpadding="0">
   <tr>
    <td class="left">
    <p><label  style="margin-top:10px;" for="id_new_password1">Новый пароль:</label> <input type="password" name="new_password1" required id="id_new_password1"> </p>
    </td>
    <td class="right">
    <p><label style="margin-top:10px;" for="id_new_password2">Подтверждение нового пароля:</label> <input type="password" name="new_password2" required id="id_new_password2"></p>
    </td>
   </tr>
  </table>
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
        <li>
          {{ error|escape }}
        </li>
        {% endfor %}
      {% endfor %}
    {% endif %}
       {% csrf_token %}
    <p style="text-align:center;"><input type="submit" value="Изменить" style="margin-bottom:0px;" class="login-btn"></p>
  </form>
</div>
{% endblock %}